.BookingView .drac-input {
  color: var(--white);
}

.BookingView .submit {
  text-align: right;
}

.BookingView .submit .drac-btn {
  width: 10rem;
}

.BookingView .submit .drac-btn .drac-text {
  color: var(--black);
}

@media (min-width: 768px) {
  .BookingView .row {
    display: flex;
  }
  
  .BookingView .row > * {
    flex: 1;
  }
}
