.App {
  max-width: 50rem;
  
  text-align: center;
}

.App .tabs {
  width: 100%;
}

.App .tabs li {
  flex: 1;
}

@media (min-width: 768px) {
  .App .station {
    display: flex;
  }
  
  .App .station .SelectStation {
    flex: 1;
  } 
}
